Using the library [openfoodfacts](https://pypi.org/project/openfoodfacts/) to download data and saving it to openfoodfacts_products.csv

In [2]:
import pandas as pd
import numpy as np
import openfoodfacts

In [15]:
# Grabbing brands
prod_frombrand = pd.DataFrame(openfoodfacts.facets.get_brands())[['id', 'products']]\
    .rename(columns = {'products': 'products_frombrand'}).astype({'id': str, 'products_frombrand': int})
print('prod_frombrand shape:', prod_frombrand.shape)
prod_frombrand.head()

prod_frombrand shape: (10000, 2)

          id  products_frombrand
0  carrefour               20865
1     auchan               14657
2    bonarea                8928
3          u                8322
4     nestle                8269

In [16]:
# Grabbing products
prod_fromstore = pd.DataFrame(openfoodfacts.facets.get_stores())[['id', 'products']]\
    .rename(columns = {'products': 'products_fromstore'}).astype({'id': str, 'products_fromstore': int})
print('prod_fromstore shape:', prod_fromstore.shape)
prod_fromstore.head()

prod_fromstore shape: (7143, 2)

           id  products_fromstore
0   carrefour               30844
1  magasins-u               20856
2      auchan               19588
3        lidl               16063
4     leclerc               13037

In [20]:
# Mergin tables on id
products = prod_fromstore.merge(prod_frombrand, how = 'outer', on = 'id').fillna(0).astype({'products_fromstore': int, 'products_frombrand': int})
products.head()

           id  products_fromstore  products_frombrand
0   carrefour               30844               20865
1  magasins-u               20856                   0
2      auchan               19588               14657
3        lidl               16063                6318
4     leclerc               13037                2660

In [21]:
# Save data in csv
products.iloc[:1000].to_csv('openfoodfacts_products.csv', index = False)

In [7]:
products[products['id'].apply(lambda item: 'car' in item)]

,id,products_fromstore,products_frombrand
0,carrefour,30844.0,20865.0
24,picard,2972.0,2909.0
27,carrefour-market,2642.0,53.0
93,carrefour-city,397.0,0.0
165,carrefour-contact,107.0,0.0
...,...,...,...
16309,chez-carrefour-selectionne-par-nos-bouchers,0.0,13.0
16445,carrefour-sensation,0.0,12.0
16494,carremi,0.0,12.0
16515,macarons-de-pauline,0.0,12.0
16536,carolina-beverage-corporation,0.0,12.0